.jumbotron {
    background-image: url("../img/pizaa.png");
    background-size: cover;
    height:800px;
    background color: #f01414;
}
#img1 {
    float: left;
    margin-top: 0px;
    width: 150px;
    height: 150px;
}
#img2 {
    float: right;
    margin-top: 0px;
    width: 150px;
    height: 150px;
}
#navbar {
    position: fixed; 
    top: -50px; 
    width: 93%; 
    transition: top 0.3s; 
}
.bg1 {
    background-color:#f01414;
}
p {
    color: white;
}